<nav class="navbar navbar-expand-lg shadow navbar-light bg-primary">
    <a class="navbar-brand text-white" routerLink="/accueil">G2Resto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/accueil">Restaurants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/panier">Panier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/orders">Mes commandes</a>
        </li>
        <li *ngIf="loggedAsAdmin" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/dashboard">Tableau de bord</a>
              <a class="dropdown-item" routerLink="/allorders">Voir les commandes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/editRestaurants">Ajouter/Editer un restaurant</a>
              <a class="dropdown-item" href="#">Ajouter/Editer un plat</a>
            </div>
          </li>
      </ul>
      <ul class="nav justify-content-end">
        <form class="form-inline">
            <button *ngIf="logged==false" class="btn btn-light text-dark mr-sm-2" type="button" routerLink="/connexion">Connexion</button>
            <button *ngIf="logged" class="btn btn-light text-dark mr-sm-2" type="button" (click)="onSignout()" >Déconnexion</button>
            <button *ngIf="logged==false" class="btn btn-light text-dark" type="button" disabled>Inscription</button>
        </form>
       </ul>
    </div>
  </nav>