<div class="rounded shadow p-5">
    <div class="row">
        <div class="col-12 d-flex">
            <h2 class="font-weight-normal"><i class="fas fa-utensils"></i> Restaurants</h2>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#restaurantModal" (click)="resetForm()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row">
        <div *ngFor="let restaurant of restaurants; let i = index" class="col-12 shadow-sm p-4 mb-3 bg-light">
            <div class="row">
                <div class="col-md-2">
                    <img [src]="restaurant.img" alt="Restaurant img" style="width:100px" *ngIf="restaurant.img">
                    <h4 class="font-weight-light" *ngIf="!restaurant.img">Pas de photo</h4>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <h3 class="font-weight-normal pl-3">{{ restaurant.nom }}</h3>
                        <div class="ml-auto">
                            <button class="btn btn-primary m-1" (click)="onEdit(restaurant, i)"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger m-1" (click)="onDelete(restaurant)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <p>{{ restaurant.adresse }}, {{ restaurant.telephone }}</p>
            <p>{{ restaurant.description }}</p>
        </div>
    </div>
</div>

<div class="modal fade" id="restaurantModal" tabIndex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Nouveau restaurant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="restaurantForm" (ngSubmit)="onSave()">
                    <input type="number" formControlName="id" hidden>
                    <div class="form-group">
                        <input type="text" formControlName="nom" id="nom" placeholder="Nom" class="form-control mb-2">
                        <input type="text" formControlName="adresse" id="adresse" placeholder="Adresse" class="form-control mb-2">
                        <input type="text" formControlName="telephone" id="telephone" placeholder="Numéro de téléphone" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ajouter une image</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" id="img" class="custom-file-input" (change)="detectFile($event)" accept="image/*">
                                <label for="Image" class="custom-file-label">Choisir...</label>
                            </div>
                        </div>
                        <small class="text-warning" *ngIf="fileUploading">Chargerment...</small>
                        <small class="text-success" *ngIf="fileUploaded">Fichier chargé</small>
                    </div>
                    <div class="form-group">
                        <textarea formControlName="description" id="description" placeholder="Description" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" [disabled]="restaurantForm.invalid" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>