<div class="rounded shadow p-5">
    <div class="row">
        <div class="col-12 d-flex">
            <h2 class="font-weight-light"><i class="fas fa-utensils"></i> Restaurants</h2>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#restaurantModal">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row">
        
    </div>
</div>

<div class="modal fade" id="restaurantModal" tabIndex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Nouveau restaurant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="restaurantForm" (ngSubmit)="onSave()">
                    <div class="form-group">
                        <input type="text" formControlName="nom" id="nom" placeholder="Nom" class="form-control mb-2">
                        <input type="text" formControlName="telephone" id="telephone" placeholder="Numéro de téléphone" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea formControlName="description" id="description" placeholder="Description" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" [disabled]="restaurantForm.invalid" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>